.color-indigo:hover{
    background-color: #673ab7 !important;
}

.color-indigo::after{
    background-color: #673ab7 !important;
}

.color-indigo::before{
    background-color: #673ab7 !important;
}

.text-white:hover{
    color: #fff !important;
}