<mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel>
      <mat-expansion-panel-header class="color-indigo text-white">
        <mat-panel-title class="text-white">
          Sign Up?
        </mat-panel-title>
      </mat-expansion-panel-header>
  <form action="">
      <table class="example-full-width center-flex-column"  cellspacing="0">
        <tr>
            <td>
              <mat-form-field class="example-full-width">
              <mat-label>Full name</mat-label>
              <input type="text" matInput placeholder="Write your full name">
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="example-full-width">
              <mat-label>Email</mat-label>
              <input type="text" matInput placeholder="Write your email">
              </mat-form-field>
            </td>
          </tr>
        <tr>
          <td>
            <mat-form-field class="example-full-width">
            <mat-label>Username</mat-label>
            <input type="text" matInput placeholder="Write your username">
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input type="password" matInput placeholder="Write your password">
            </mat-form-field>
          </td>
        </tr>
        <tr>
            <button type="submit" mat-raised-button color="accent">Sign up!</button>
        </tr>
      </table>
    </form>
    </mat-expansion-panel>
  </mat-accordion>
